<body class="bg-gray-100 p-1">
    <div class="flex justify-center">
        <h1 class="text-2xl font-bold border-[3px] border-black rounded-lg mt-2 p-2">My Astro Site</h1>
    </div>

    <div class="flex justify-center">
        <nav class="flex justify-between gap-10 pt-3">
            <div class="rounded bg-yellow-200 border border-yellow-900 hover:border-yellow-200 hover:bg-yellow-900 text-yellow-900 hover:text-yellow-200 py-1 px-2">
                <a class="" href="/">Home</a>
            </div>
            <div class="rounded bg-yellow-200 border border-yellow-900 hover:border-yellow-200 hover:bg-yellow-900 text-yellow-900 hover:text-yellow-200 py-1 px-2">
                <a class="" href="/about">About</a>
            </div>
        </nav>
    </div>
    <div class="bg-gray-600 mt-4 mx-2 w-100 h-[1px]"></div>
    <div class="w-100 h-[30px]"></div>
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>

    <div class="p-2 bg-white border border-gray-300 rounded-lg m-2">
        <p>I am working through Astro's introductory tutorial. This is the second page
            on my website, and it;s the nth one I built myself!
        </p>
        <p>This site will update as I complete more of the tutorial, so keep
            checking back and see how my journey is going!
        </p>
    </div>
</body>