<body class="bg-gray-100 p-1">
    <div class="flex justify-center">
        <h1 class="text-2xl font-bold border-[3px] border-black rounded-lg mt-2 p-2">My Astro Site</h1>
    </div>

    <div class="flex justify-center">
        <nav class="flex justify-between gap-10 pt-3">
            <div class="rounded bg-yellow-200 border border-yellow-900 hover:border-yellow-200 hover:bg-yellow-900 text-yellow-900 hover:text-yellow-200 py-1 px-2">
                <a class="" href="/">Home</a>
            </div>
            <div class="rounded bg-yellow-200 border border-yellow-900 hover:border-yellow-200 hover:bg-yellow-900 text-yellow-900 hover:text-yellow-200 py-1 px-2">
                <a class="" href="/blog">Blog</a>
            </div>
            <div class="rounded bg-yellow-200 border border-yellow-900 hover:border-yellow-200 hover:bg-yellow-900 text-yellow-900 hover:text-yellow-200 py-1 px-2">
                <a class="" href="/about">About</a>
            </div>
        </nav>
    </div>
    <div class="bg-gray-600 my-4 mx-2 w-100 h-[1px]"></div>

    <div class="flex justify-center">
        <h1 class="font-bold text-xl">
            This is the blog.
        </h1>
    </div>
</body>