---
// import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content="{Astro.generator}">
		<title>The Blog</title>
	</head>
	<body class="bg-black">
		<div class="flex justify-center p-2">
			<h1 class="p-2 rounded-[5px] border-[3px] border-white text-white bg-cyan-900">My Astro Site</h1>
		</div>
	</body>
</html>