---
import Card from "../components/Card.astro";
import Layout from '../layouts/Layout.astro';
---

<!-- <link rel="stylesheet" href="style.css"> -->
<Layout title="Test Zone">
    <div class="bg-yellow-700">
        How does this work?
    </div>
</Layout>
